@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.body {
      height: 100vh;
      background: #f2f2f2;
      font-family: 'Roboto', sans-serif;
}

nav button,
.card a,
.card {
      border-radius: var(--bs-enable-rounded);
}

/* == Reviews == */
.wrapper {
      width: 95%;
      margin: 1em auto;
}

.card {
      border: 1px solid #f2f2f2;
}

.card-title {
      font-weight: 500;
}

.card-subtitle {
      color: #fff;
      background-color: #398E3D;
      font-size: 0.8rem;
      width: 3.2em;
      padding: 0.1em 0;
      border-radius: 0.25em;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      column-gap: 0.25em;
}

.material-icons {
      font-size: 0.8rem;
}

.card-text {
      font-weight: 400;
      margin: 0.5em 0;
}

.reviewedBy {
      font-size: 0.8rem;
      text-align: right;
}

/* == Media Queries == */
@media (min-width: 992px) {
      .wrapper {
            width: 80%;
            display: grid;
            grid-template-rows: auto;
            grid-auto-flow: row;
            grid-template-columns: repeat(2, 1fr);
      }
}