<div *ngIf="alert" id="alert" class="alert alert-danger" role="alert">
        <span class="material-icons">
                warning
        </span>
        {{alertMsg}}
</div>

<div class="body">
        <div>
                <h4>
                        Admin Log in
                </h4>
                <hr>
                <div class="wrapper">
                        <form [formGroup]="inputReader" (ngSubmit)="checkCredentials()">
                                <div class="form-floating">
                                        <input type="text" class="form-control" placeholder="Username *"
                                                formControlName="username">
                                        <label>Username * </label>
                                </div>
                                <div class="form-floating">
                                        <input type="password" class="form-control" placeholder="Password *"
                                                formControlName="password">
                                        <label>Password * </label>
                                </div>
                                <div class="button-div">
                                        <button (click)="reset()" type="submit"
                                                class="btn btn-dark btn-lg">Submit</button>
                                </div>
                        </form>
                </div>
        </div>
</div>