@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.body {
        height: 80vh;
        text-align: center;
        font-size: 2rem;
        font-family: 'Open Sans', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
}

.body>img {
        width: 100%;
}


/* == Media Queries == */
@media (min-width: 992px) {
        .body {
                height: 100vh;
                font-size: 3rem;
        }

        .body>img {
                width: 50%;
        }

}