<div *ngIf="alert" id="alert" class="alert {{alertType}}" role="alert">
      <span class="material-icons">
            {{alertIcon}}
      </span>
      {{alertMsg}}
</div>
<div class="body">
      <div>
            <h4>
                  <a routerLink='' class="back">
                        <span class="material-icons">
                              arrow_back_ios
                        </span>
                  </a>
                  Registration
            </h4>
            <hr>
            <div class="wrapper">
                  <h5>Register with your email and password:</h5>
                  <form [formGroup]="inputReader" (ngSubmit)="register()">
                        <div class="rows">
                              <input type="email" class="form-control form-control-lg column" placeholder="Email *"
                                    formControlName="email">
                        </div>
                        <div class="rows">
                              <input type="text" class="form-control form-control-lg column-1" placeholder="First name"
                                    formControlName="firstName">

                              <input type="text" class="form-control form-control-lg column-2" placeholder="Last name"
                                    formControlName="lastName">
                        </div>
                        <div class="rows">
                              <input type="password" class="form-control form-control-lg column-1"
                                    placeholder="Password *" formControlName="paswd">

                              <input type="password" class="form-control form-control-lg column-2"
                                    placeholder="Confirm password *" formControlName="rePaswd">
                        </div>
                        <div class="button-div">
                              <button (click)="reset()" type="submit" class="btn btn-dark btn-lg">Submit</button>
                        </div>
                  </form>
            </div>
            <a routerLink="/login">Have an account already?</a>
      </div>
</div>