<!-- Modal -->
<div class="body">
        <div *ngFor="let item of list" class="card">
                <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">

                        <!-- Confirmation Modal-->
                        <div class="modal-dialog">
                                <div class="modal-content">
                                        <div class="modal-header">
                                                <h5 class="modal-title"> Message </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                                Are you sure you want to delete it?
                                                <div class="text-danger"><em>Note: This can't be undone and
                                                                will get
                                                                permanently deleted.</em></div>
                                        </div>
                                        <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                <button (click)="reject(item.id)" type="button"
                                                        class="btn btn-danger">Delete</button>
                                        </div>
                                </div>
                        </div>
                </div>

                <!-- Cards -->
                <div class="card-body">
                        <h5 class="card-title">{{item.subject}}</h5>
                        <div class="card-subtitle">
                                {{item.rating}}
                                <span class="material-icons">
                                        star
                                </span>
                        </div>
                        <p class="card-text">{{item.body}}</p>
                        <div class="reviewInfo">
                                <div class="text-muted reviewedBy"> {{item.product}}</div>
                                <div class="text-muted reviewedBy"><em>Review by:</em> {{item.username}}</div>
                        </div>


                        <div *ngIf="!item.isApproved" class="button-wrapper">
                                <button (click)="approve(item.id)" type="button" class="btn btn-success">
                                        <span class="material-icons">
                                                done
                                        </span>
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                        data-bs-target="#confirmModal">
                                        <span class="material-icons">
                                                clear
                                        </span>
                                </button>
                        </div>
                </div>
        </div>
</div>